<div id="my-root" class="min-h-screen w-screen flex flex-col">
  <header class="flex justify-between">
    <div class="basis-[min(100px,calc(80px+0.05vw))] flex shrink-0 items-center justify-end h-[87px] sm:h-auto">
      <img
        class="w-[48px] h-[48px]"
        width="48px"
        height="48px"
        src="assets/shared/logo.svg"
        alt=""
      />
    </div>
    <nav
      class="list-none cursor-default decoration-none md:my-8 hidden sm:block"
    >
      <ul
        class="navigation-border hidden sm:flex
        px-10 md:px-[5rem] gap-x-[1rem] sm:gap-x-[min(2.5rem+1vw,3rem)]
        backdrop-blur-[20px] bg-white/10 text-white 
        uppercase
        md:font-semibold font-thin"
      >
        <li class="active">
          <a><span>00</span> Home</a>
        </li>
        <li>
          <a><span>01</span> Destination</a>
        </li>
        <li>
          <a><span>02 </span> Crew</a>
        </li>
        <li>
          <a><span>03</span> Technology</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="flex flex-1 md:flex-row flex-col flex-wrap">
    <section
      class="flex basis-1/2 flex-1 lg:pr-[40px] items-center justify-center lg:justify-end "
    >
      <div class="w-[360px + 10vw] max-w-[450px] md:ml-10 text-center md:text-left text-sm sm:text-base md:text-lg leading-[1.5rem]">
        <h1
          class="text-slate-300 font-sans uppercase "
          style="color: hsl(231 77% 90%)"
        >
          So, you want to  travel to
        </h1>
        <span
          class="block text-white text-[4rem] md:text-[min(7rem,10vw)] tracking-[0.1em] md:tracking-[0.2em] uppercase align-baseline leading-[6rem]"
        >
          Space
        </span>
        <p class="text-white ">
          Let’s face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we’ll give you a truly out of this world
          experience! Explore
        </p>
      </div>
    </section>
    <div class="flex basis-1/2 flex-1 items-center justify-center">
      <div
        class="bg-white rounded-full h-[263px] w-[263px] pulse align-baseline flex items-center justify-center"
      >
        <span
          class="text-black text-3xl font-serif uppercase size font-light cursor-default"
          >explore
        </span>
      </div>
    </div>
  </main>
</div>
