.pulse {
  z-index: 2;
}

.pulse::after {
  z-index: 0;
  border-radius: 50%;
  width: 263px;
  height: 263px;
  opacity: 0;
  content: "";
  position: absolute;
  display: block;
  background: hsl(0 0% 100% /0.3);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.pulse:hover::after {
  opacity: 1;
  transform: scale(1.2);
}