<main
  class="flex flex-col text-white   justify-evenly md:items-start w-[80%] max-w-md "
>
  
  <h2 class="uppercase tracking-widest text-[1.5rem] ">
    <span class="text-[grey]">02</span> Meet your crew
  </h2>
  <article class="min-h-[250px]">
    <p class="uppercase tracking-wide text-[grey] text-[2rem]">
      {{ crew[tabI].occupation }}
    </p>
    <p class="uppercase tracking-wide text-[2.5rem]">{{ crew[tabI].name }}</p>
    <p class="font-normal">{{ crew[tabI].mission }}</p>
  </article>
  <ul class="flex space-x-1 md:space-x-4 flex-row">
    <li
      ngFor
      class="rounded-full backdrop-blur-[10px] bg-white/90 cursor-pointer h-[20px] w-[20px] md:h-[40px] md:w-[40px]"
      [class.active]="i == tabI"
      *ngFor="let member of crew; let i = index"
      (click)="tabI = i"
    ></li>
  </ul>
</main>

<section class="flex flex-1 basis-1/2 item-end flex-col justify-end">
  <app-progressive-picture class="w-[300px] md:w-auto h-auto" [src]="images[tabI]"></app-progressive-picture>
</section>